/* 
=========
Resume page
=========
*/
.resume-header {
  padding-top: 5rem;
  padding-bottom: 4rem;
}
.resume-download-btn {
  margin-top: 3rem;
  margin-left: 1rem;
}

.resume-center {
  height: 100vh;
  object-fit: cover;
}
.resume {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
